<div class="container">
  <nav>

    <a href="#">
      <img src="../../assets/img/volo_logo.svg" height="32" class="d-inline-block align-top" alt="">
    </a>

    <button class="collapsed" type="button" data-toggle="collapse"
            aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse justify-content-end">
      <ul class="mt-2 mt-md-0 align-items-end">
        <li class="nav-item">
          <button role="button" class="btn btn-primary my-2 my-sm-0">Załóż konto</button>
        </li>
        <li>
          <span class="nav-item ml-2 mr-2">lub</span>
        </li>
        <li class="nav-item">
          <button role="button" class="btn btn-outline-success my-2 my-sm-0">Zaloguj się</button>
        </li>
      </ul>
    </div>

  </nav>
</div>
